@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">学生支教管理系统</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        支教记录管理
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/TeachingRecords/Create">支教申请创建</a>
                        <a class="dropdown-item" href="/TeachingRecords/HIndex">支教记录列表</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/TeachingInfoes/HIndex">
                        <i class="fa fa-home"></i>
                        支教信息列表
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="/Login/LoginOut">
                        <i class="fa fa-fw fa-sign-out"></i>
                        退出
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    <div id="global">


        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/jquery.mousewheel.min.js"></script>
    <script src="/js/jquery.cookie.min.js"></script>
    <script src="/js/fastclick.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/clearmin.min.js"></script>
    <script src="/js/demo/home.js"></script>
</body>
</html>
