@model WebApplication1.Models.TeachingInfo

@{
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
    ViewData["Title"] = "编辑";
}

<h2>编辑</h2>

<h4>支教信息</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeachID" />
            <div class="form-group">
                <label asp-for="School" class="control-label">学校</label>
                <input asp-for="School" class="form-control" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">地点</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">开始日期</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">结束日期</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label">科目</label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mem" class="control-label">报名人数</label>
                <input asp-for="mem" class="form-control" readonly/>
                <span asp-validation-for="mem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxmem" class="control-label">最大人数</label>
                <input asp-for="maxmem" class="form-control" />
                <span asp-validation-for="maxmem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}